In [36]:
import pandas as pd
import numpy as np

In [37]:
import csv

In [38]:
with open('cryptolocker.txt', 'r') as in_file:
    stripped = (line.strip() for line in in_file)
    lines = (line.split(",") for line in stripped if line)
    with open('cryptolocker.csv', 'w') as out_file:
        writer = csv.writer(out_file)
        writer.writerow(('domain','test'))
        writer.writerows(lines)

In [39]:
df = pd.read_csv('cryptolocker.csv')

In [40]:
df.drop('test',axis=1,inplace=True)

In [41]:
df.head()

                domain
0  ofdhiydrrttpblp.com
1  puciftnfkplcbhp.net
2  bowjjxxnhkyvygk.biz
3   osvwkptpwqyiqen.ru
4  cpmjpnwdgbxyyql.org

In [24]:
len(df)

100000

In [49]:
dga_algorithm = []
malicious =[]

In [50]:
for i in range(len(df)):
    dga_algorithm.append('cryptolocker')
    malicious.append('true')

In [51]:
len(dga_algorithm)

100000

In [52]:
df['dga_algorithm'] = dga_algorithm
df['malicious'] = malicious

In [53]:
df.head()

                domain dga_algorithm malicious
0  ofdhiydrrttpblp.com  cryptolocker      true
1  puciftnfkplcbhp.net  cryptolocker      true
2  bowjjxxnhkyvygk.biz  cryptolocker      true
3   osvwkptpwqyiqen.ru  cryptolocker      true
4  cpmjpnwdgbxyyql.org  cryptolocker      true

In [73]:
df.to_csv('dataset.csv')

In [55]:
!git remote add origin https://github.com/ZeadAlkhonein/dga.git

In [74]:
! git add .

In [75]:
!git commit -m "first commit"

[master 0184cbc] first commit
 2 files changed, 100022 insertions(+), 37 deletions(-)
 create mode 100644 dataset.csv

In [76]:
!git push -u origin master

Enumerating objects: 5, done.
Counting objects: 100% (5/5), done.
Delta compression using up to 8 threads
Compressing objects: 100% (3/3), done.
Writing objects: 100% (3/3), 692 bytes | 692.00 KiB/s, done.
Total 3 (delta 2), reused 0 (delta 0)
remote: Resolving deltas: 100% (2/2), completed with 2 local objects.
To https://github.com/ZeadAlkhonein/dga.git
   9f6c9ae..0184cbc  master -> master
Branch 'master' set up to track remote branch 'master' from 'origin'.

In [77]:
!ls

Untitled.ipynb   all_legit.txt    cryptolocker.txt dataset.csv
all_dga.txt      cryptolocker.csv dataset

In [78]:
with open('all_dga.txt', 'r') as in_file:
    stripped = (line.strip() for line in in_file)
    lines = (line.split(",") for line in stripped if line)
    with open('all_dga.csv', 'w') as out_file:
        writer = csv.writer(out_file)
        writer.writerow(('domain','test'))
        writer.writerows(lines)

In [79]:
with open('all_legit.txt', 'r') as in_file:
    stripped = (line.strip() for line in in_file)
    lines = (line.split(",") for line in stripped if line)
    with open('all_legit.csv', 'w') as out_file:
        writer = csv.writer(out_file)
        writer.writerow(('domain','test'))
        writer.writerows(lines)

In [91]:
legit = pd.read_csv('all_legit.csv',sep=' ',)

In [92]:
legit.drop('test',axis=1,inplace=True)

KeyError: "['test'] not found in axis"

In [ ]:
dga = pd.read_csv('all_dga.csv',sep=' ')

In [93]:
dga.drop('test',axis=1,inplace=True)

KeyError: "['test'] not found in axis"

In [129]:
dga.head()

                      domain  label
801662  yacoouemkmmeaqiu.org      8
801663  yaucyikacowiogem.org      8
801664  iumgkaoasgoyiccy.org      8
801665  aemosuaokkwmqqmq.org      8
801666  eimgukowkqeckykg.org      8

In [95]:
legit.head()

              domain,test
google.com              0
facebook.com            0
youtube.com             0
baidu.com               0
yahoo.com               0

In [108]:
legit.reset_index(inplace=True)

In [118]:
dga.reset_index(inplace=True)

In [116]:
legit.columns.values[0] = 'domain'
legit.columns.values[1] = 'label'

In [122]:
legit.head()

         domain  label
0    google.com      0
1  facebook.com      0
2   youtube.com      0
3     baidu.com      0
4     yahoo.com      0

In [123]:
dga.columns.values[0] = 'domain'
dga.columns.values[1] = 'label'

In [124]:
dga.head()

                domain  label
0  ofdhiydrrttpblp.com      1
1  puciftnfkplcbhp.net      1
2  bowjjxxnhkyvygk.biz      1
3   osvwkptpwqyiqen.ru      1
4  cpmjpnwdgbxyyql.org      1

In [125]:
df = pd.concat([legit, dga], ignore_index=True, sort=False)

In [128]:
df.tail(20)

                       domain  label
1801647  aeuswegakkqssakg.org      8
1801648  kykuwymkyyoceksc.org      8
1801649  ceiaayawgsuegcik.org      8
1801650  gqsswowucqggyyoe.org      8
1801651  wsiwacqayqugomcy.org      8
1801652  kuyamqgwueagkgis.org      8
1801653  wwcyueksewyikeqw.org      8
1801654  aeeeqysmyckuewic.org      8
1801655  ciuoyooweqaeekou.org      8
1801656  wwwcqqkaayuqwouk.org      8
1801657  wssqkmakwmgwyaue.org      8
1801658  ocyekuyqmuwmawiq.org      8
1801659  skogqgwwmgkyecyc.org      8
1801660  aasqcewamsuimqsm.org      8
1801661  usicyeqkuwogwqww.org      8
1801662  yacoouemkmmeaqiu.org      8
1801663  yaucyikacowiogem.org      8
1801664  iumgkaoasgoyiccy.org      8
1801665  aemosuaokkwmqqmq.org      8
1801666  eimgukowkqeckykg.org      8

In [164]:
dga_test = dga.reset_index().reset_index()

In [165]:
type(dga_test)

pandas.core.frame.DataFrame

In [171]:
dga_test.drop(['index','level_0'],axis=1,inplace=True)

In [172]:
dga_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 801667 entries, 0 to 801666
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   domain  801667 non-null  object
 1   label   801667 non-null  int64
dtypes: int64(1), object(1)
memory usage: 12.2+ MB

In [174]:
dga_test

0          ofdhiydrrttpblp.com
1          puciftnfkplcbhp.net
2          bowjjxxnhkyvygk.biz
3           osvwkptpwqyiqen.ru
4          cpmjpnwdgbxyyql.org
                  ...
801662    yacoouemkmmeaqiu.org
801663    yaucyikacowiogem.org
801664    iumgkaoasgoyiccy.org
801665    aemosuaokkwmqqmq.org
801666    eimgukowkqeckykg.org
Name: domain, Length: 801667, dtype: object

In [175]:
legit = legit.reset_index().reset_index()

In [176]:
legit.drop(['index','level_0'],axis=1,inplace=True)

In [177]:
legit.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 2 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   domain  1000000 non-null  object
 1   label   1000000 non-null  int64
dtypes: int64(1), object(1)
memory usage: 15.3+ MB

In [181]:
df = pd.concat([legit, dga_test], ignore_index=True, sort=True)

In [182]:
df.query("label !=0")

                       domain  label
1000000   ofdhiydrrttpblp.com      1
1000001   puciftnfkplcbhp.net      1
1000002   bowjjxxnhkyvygk.biz      1
1000003    osvwkptpwqyiqen.ru      1
1000004   cpmjpnwdgbxyyql.org      1
...                       ...    ...
1801662  yacoouemkmmeaqiu.org      8
1801663  yaucyikacowiogem.org      8
1801664  iumgkaoasgoyiccy.org      8
1801665  aemosuaokkwmqqmq.org      8
1801666  eimgukowkqeckykg.org      8

[801667 rows x 2 columns]

In [193]:
df.label.apply(lambda x: 1 if x!=1 or x!=0 else x)

0          1
1          1
2          1
3          1
4          1
          ..
1801662    1
1801663    1
1801664    1
1801665    1
1801666    1
Name: label, Length: 1801667, dtype: int64

In [ ]:
lambda